@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Mohave:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;800;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

* + * {
    margin-top: 1rem;
}

:root {
    --menuColor: hsl(174, 99%, 46%);
    --menuDarkColor: hsl(0, 0%, 15%);
    --gameDarkColor: hsl(0, 0%, 17%);
}

html {
    font-size: 62.5%;
    height: 100%;
}

body, button {
    font-family: "Fira Sans", sans-serif;
}

body {
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.1;
    height: 100%;
    color: hsl(0, 0%, 15%);
}

button {
    font-size: 2rem;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}


/* ------- Board ------- */
.green-bg {
    background-color: #14bdac;
    min-height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.77,0,.18,1);
}

.green-bg.active {
    transform: translateY(0);
}

header {
    text-align: center;
    flex-grow: 0;
    margin-top: 20px;
    width: 100%;
}

h2 {
    color: var(--gameDarkColor);
    font-family: 'Mohave', sans-serif;
    letter-spacing: -0.045em;
    font-size: 8.5rem;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
}

#gameBoard {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 12px;
    grid-template-columns: repeat(3, minmax(110px, 150px));
    grid-template-rows: repeat(3, minmax(110px, 150px));
    font-size: 15rem;
    background-color: hsl(174, 93%, 35%);
    margin: 40px 0 40px 0;
    position: relative;
}

#gameBoard > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: hsl(174, 81%, 41%);
    color: hsla(0, 0%, 25%, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 8.5rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: color .2s ease-out;
    user-select: none;
}

#modeDisplay {
    color: hsl(173.9, 94.7%, 20%);
    letter-spacing: 5px;
    opacity: 0.75;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.display {
    background-color: var(--gameDarkColor);
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 10px;
}

.end-result {
    animation: final-message .8s infinite alternate-reverse ease-in-out
}

@keyframes final-message {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#gameBoard > .first-player {
    color: hsla(0, 0%, 25%, 1);
}

#gameBoard > .second-player {
    color: #fff1c4;
}

.game-block {
    pointer-events: none !important;
}

.game-status {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.game-options {
    text-align: center;
}

.game-btn {
    background-color: var(--gameDarkColor);
    border-radius: 5px;
    box-shadow: 0px 20px 18px hsl(175deg 80% 16% / 25%), 0px 5.06172px 10px hsl(175deg 74% 18% / 30%);
    color: white;
    font-size: 1.6rem;
    margin: 0 7px;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    transition: all .25s ease-in-out;
    letter-spacing: 1px;
}


/* ------- Select (Game difficulty) ------- */
select {
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px hsla(174, 82%, 30%, 0.459);
    background-color: hsl(0, 0%, 36%);
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 10px;
}


/* ------- Background Menu shapes ------- */
.background-shape {
	font-family: Raleway, sans-serif;
	color: var(--menuColor);
	position: absolute;
	text-shadow: 0px 4px 75px hsl(174, 99%, 54%);
    user-select: none;
    z-index: -1;
}

@keyframes letters-motion {
    from {
        transform: translateY(0px) rotate(var(--rot));
    }
    
    to {
        transform: translateY(20px) rotate(var(--rot));
    }
}

.background-shape.left {
    --rot: -17deg;
    font-size: 9.6rem;
    font-weight: 900;
    left: 25%;
    bottom: 35%;
    animation: letters-motion 3.5s infinite alternate ease-in-out;
}

.background-shape.right {
    --rot: 20deg;
    font-size: 8.4rem;
    font-weight: 900;
    right: 16%;
    top: 29%;
    animation: letters-motion 4.5s infinite alternate-reverse ease-in-out;
}

.background-shape.up {
    --rot: -25deg;
    font-size: 5.2rem;
    font-weight: 900;
    top: 5%;
    left: 45%;
    animation: letters-motion 3s infinite alternate-reverse ease-in-out;
}

.background-shape.down {
    --rot: 25deg;
    font-size: 7.4rem;
    font-weight: 800;
    right: 30%;
    bottom: 15%;
    animation: letters-motion 4.5s infinite alternate cubic-bezier(.79,.14,.15,.86);
}


/* ------- Menu ------- */
#gameMenu {
    margin: auto;
}

h1 {
    color: var(--menuDarkColor);
    font-family: 'Mohave', sans-serif;
    font-size: 11rem;
    letter-spacing: -0.045em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.primary-btn {
    background-color: var(--menuColor);
    border-radius: 6px;
    box-shadow: 0px 49px 75px hsla(175, 100%, 47%, 0.34), 0px 5.06172px 14.6221px hsla(175, 93%, 49%, 0.4);
    color: var(--menuDarkColor);
    padding: 2.5rem 3.5rem;
    margin: 0 7px;
    text-transform: uppercase;
    text-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.25);
    transition: all .25s;
    position: relative;
    top: 0;
}

.menu-options {
    text-align: center;
    margin: 0;
}


/* Selection */
::selection {
    background-color: hsl(174, 81%, 35%);
}


/* ------- Media queries ------- */
@media only screen and (max-width: 1280px) {
    h2 {
        font-size: 7.5rem;
    }

    .display {
        font-size: 2.2rem;
    }

    #gameBoard {
        gap: 10px;
        grid-template-columns: repeat(3, minmax(110px, 140px));
        grid-template-rows: repeat(3, minmax(110px, 140px));
        margin: 30px 0 30px 0;
    }
}

@media only screen and (max-width: 992px) {
    .background-shape.left {
        left: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .background-shape.left {
        font-size: 7.5rem;
        left: 17%;
        bottom: 28%;
    }

    .background-shape.right {
        font-size: 7rem;
        right: 12%;
        top: 25%;
    }

    .background-shape.down {
        font-size: 7rem;
        right: 12%;
    }

    .background-shape.up {
        font-size: 5rem;
        top: 3%;
        left: 35%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 8rem;
    }

    button {
        font-size: 1.8rem;
    }

    .primary-btn {
        padding: 2rem 3rem;
        margin: 10px 5px;
    }

    h2 {
        font-size: 5rem;
    }

    .display {
        font-size: 2rem;
    }

    .game-btn {
        font-size: 1.4rem;
    }

    #gameBoard {
        gap: 7px;
        grid-template-columns: repeat(3, minmax(75px, 100px));
        grid-template-rows: repeat(3, minmax(75px, 100px));
    }

    #gameBoard > div {
        font-size: 6.5rem;
    }
}

@media (hover: hover) {
    .primary-btn:hover {
        top: -7px;
        background-color: hsl(173.8, 100%, 30%);
        box-shadow: 0px 49px 75px hsla(174, 99%, 40%, 0.48), 0px 5.06172px 14.6221px hsla(174, 98%, 25%, 0.452);
        color: white;
    }

    .game-btn:hover {
        top: -5px;
        background-color: hsl(172.6, 42%, 25%);
        box-shadow: 0px 30px 18px hsl(175deg 80% 16% / 20%), 0px 5.06172px 10px hsl(175deg 74% 18% / 30%);
    }
}


/* ------- Utilities ------- */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}